*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    margin:0px;
}

.menu{
    border: 1px solid;
    height: 30px;
    display: flex;
    align-items: center;
}

.menu-options{
    border: 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
}

.address{
    border: 1px solid;
    height: 30px;
}

.cells{
    position: absolute;
    top: 20px;
    left: 24px;
}

.sheets{
    height: 30px;
    display: flex;
    align-items: center;
    }

.row{
    display: flex;
}

.cell{
    border: 1px solid;
    min-width: 80px;
    min-height: 25px;
    max-width: 80px;
}

.content{
    border: 1px solid;
    height: calc(100vh - 140px);
    overflow: auto;
    position: relative;
}


.top-left-col{
    background: lightgray;
    height: 20px;
    width: 25px;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.top-row{
    display: flex;
    position: absolute;
    top: 0px;
    left: 24px;
    background: lightgreen;
    z-index: 2;
}

.top-row-cell{
    border: 1px solid;
    min-width: 80px;
    min-height: 20px;
    text-align: center;
}

.left-col{
    position: absolute;
    top: 20px;
    background: lightgreen;
    z-index: 2;
}
.left-col-cell{
    border: 1px solid;
    height: 25px;
    width: 25px;
    text-align: center;
}



.file{
margin-left:10px;
}

.home{
    margin-left:10px;
}

.file-menu-options{
    margin-left: 10px;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.home-menu-options{
    margin-left: 10px;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.hide{
    display: none;
}


.active-menu{
    padding: 4px;
    color: white;
    background: lightgreen;
    border-radius:10px
}


.sheets-content{
    display: flex;
    height: 100%;
    align-items: center;
}

.sheet{
    margin-left: 10px;
}

.active-sheet{
    padding: 3px;
    background: lightgreen;
    color: white;
    border-radius: 10px;
}

.sheets-add{
    margin-left: 12px;
    background: lightgreen;
    padding: 4px;
    border-radius: 9px;
    color: white;
}
