* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.content {
  height: 100vh;
  width: 100vw;
  background: #7562e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  display: flex;
}

.left-view {
  height: 100%;

  width: 30%;

  background: #2d2839;

  border-top-left-radius: 10px;

  border-bottom-left-radius: 10px;

  /* border-right: 1px solid lightgray; */
}

.right-view {
  height: 100%;

  width: 70%;

  background: #2b2637;

  /* background: teal; */

  border-top-right-radius: 10px;

  border-bottom-right-radius: 10px;

  position: relative;

  display: flex;

  justify-content: center;
}

.chat-list {
  width: 100%;
  height: 86%;
}
.chat {
  /* min-width: 37px; */
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 10px; /* width: 224px; */
  max-width: 70%;
  overflow-wrap: anywhere;
}

.left {
  background: #5a41a9;
  float: left;
  clear: both;
}
.right {
  background: #5c5077;
  float: right;
  clear: both;
}

.join {
  width: 98%;

  background: #3498db;

  color: white;

  margin: 10px;

  display: flex;

  align-items: center;

  border-radius: 14px;

  padding: 10px;

  justify-content: center;
}
.leave {
  width: 98%;

  background: #e74c3c;

  color: white;

  margin: 10px;

  display: flex;

  align-items: center;

  border-radius: 14px;

  padding: 10px;

  justify-content: center;
}

.chat-send {
  position: absolute;

  bottom: 10px;

  display: flex;

  width: 95%;

  background: #5c5077;

  height: 50px;

  align-items: center;
}

.chat-send input {
  width: 88%;
  height: 80%;
  background: bottom;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 10px;
}
.send-button {
}
.fas {
  font-size: 30px;

  color: #aca6c1;
}
