*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}


.tools{
    background: lightcyan;
    height: 100px;
}

.canvas{
    height: calc(100vh - 100px);
    /* background: lightgreen; */
}

#canvas{
    /* height:100%;
    width:100%; */
    background: cornflowerblue;
}